<template>
  <section>
    <!-- <p v-show="visible">{{ hola }}</p> -->
    <!-- <p v-if="visible">{{ hola }}</p>
    <p v-else>PARRAFO AUXILIAR</p> -->
    <!-- V-FOR -->
    <p>
      <input type="text" placeholder="Nombre" v-model="fruta.nombre">
      <input type="text" placeholder="Color" v-model="fruta.color">
      <button v-on:click="agregarFruta">AGREGAR</button>
    </p>
    <p>Lista de frutas</p>
    <p v-for="(fruta, index) of listaFrutas" v-bind:key="index">
      {{ fruta.nombre }} - {{ fruta.color }}
      <button v-on:click="eliminarFruta(index)">ELIMINAR</button>
    </p>
    <!-- <p v-for="(elemento, index) of numeros" v-bind:key="index">
      {{ elemento }}
      <button v-on:click="visible = !visible">{{ visible ? 'Ocultar parrafo' : 'Mostrar parrafo' }}</button>
    </p> -->
  </section>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      fruta: {
        nombre: '',
        color: ''
      },
      listaFrutas: [
        {
          nombre: 'Mango',
          color: 'Verde'
        }
      ],
      numeros: [1,2,3,4,5],
      visible: false,
      hola: 'HOLA DESDE APP.VUE'
    }
  },
  methods: {
    resetForm () {
      this.fruta = {
        nombre: '',
        color: ''
      }
    },
    agregarFruta () {
      const fruta = { ...this.fruta }
      this.listaFrutas.push(fruta)
      this.resetForm()
    },
    eliminarFruta (index) {
      this.listaFrutas.splice(index, 1)
    }
  }
}
</script>